.container {
    display: flex;
    flex-direction: column;
    padding: 6px;

    align-items: center;

    aspect-ratio: 1 / 1;

    flex: 1;
    width: 100%;

    max-width: 232px;

    background: var(--white);
    border-radius: var(--br-standart);
    border: var(--bd-standart);

    justify-content: space-around;

    cursor: pointer;

    img {
        aspect-ratio: 1 / 1;
        width: 100%;
        max-width: 133px;
    }
}